* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	 font-family: 'Big Shoulders Display';font-size: 22px;
	font-size: 1.2rem;
	min-height: 100%;
}

.grid-container > * {
	box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75); 
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}



.grid-container{
	display: grid;
	grid-gap:10px;
	grid-template-areas: 
	"header" 
	"nav"
	"main"
	"sidebar"
	"footer"
}
 header{
 	grid-area: header;
 	background-color: tomato;
 }

 nav {
 	grid-area: nav;
 	background-color: violet;

 } 

 section{
 	grid-area: main;
 	background-color: blue;

 }

 aside {
 	 grid-area: sidebar;
 	 background-color: pink;
 }
footer{
	grid-area: footer;
	background-color: yellow;
}

